@font-face {
    font-family: 'inter';
    src: url(./assets/fonts/static/Inter-Regular.ttf),
     url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf), url(./assets/fonts/static/Inter-Regular.ttf), url(./assets/fonts/static/Inter-SemiBold.ttf);
}
body{
    font-size: 14px;  
    font-family: 'inter';
    color: white;
    max-width: 1440px;
    background-color:hsl(0, 0%, 8%) ;
}

img{
    border-radius: 50%;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover .social{
    background-color:hsl(75, 94%, 57%) ;
    color: black;   
}

a:visited{
    color: white;
   
}

#location{
    color:  hsl(75, 94%, 57%); 
    font-weight: bold;
}

.content{
    width: 400px;
    height: 650px;
    position: relative;
    left: 50%;
    top: 90px;
}
.layout{
    width: 400px;
    height: 650px;
    padding:45px 25px;
    text-align: center;
    
    background-color:  hsl(0, 0%, 12%);
    border-radius: 20px;
    position: absolute;
}

.social{
    background-color: hsl(0, 0%, 20%);
    width: 80%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}



 